@import "../../../styles/variables.scss";

.reviews {
  &__title {
    text-align: right;
    margin-right: 100px;
    margin-bottom: 64px;
    position: relative;

    &::before {
      content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='142' height='116' viewBox='0 0 142 116' fill='none'><g opacity='0.3' clip-path='url(%23clip0_15_698)'><path fill-rule='evenodd' clip-rule='evenodd' d='M141.377 18.1171C120.202 28.1823 109.615 40.0086 109.615 53.5965C118.64 54.603 126.103 58.1677 132.005 64.2907C137.906 70.4136 140.857 77.501 140.857 85.5531C140.857 94.1085 137.993 101.322 132.265 107.193C126.537 113.064 119.334 116 110.656 116C100.936 116 92.5185 112.184 85.4023 104.551C78.286 96.9183 74.728 87.6501 74.728 76.7462C74.728 44.0345 93.6465 18.4527 131.484 0L141.377 18.1171ZM66.6493 18.1171C45.3006 28.1823 34.6264 40.0086 34.6264 53.5965C43.8254 54.603 51.3755 58.1677 57.2767 64.2907C63.178 70.4136 66.1286 77.501 66.1286 85.5531C66.1286 94.1085 63.2214 101.322 57.4069 107.193C51.5924 113.064 44.3461 116 35.6678 116C25.948 116 17.5736 112.184 10.5441 104.551C3.51467 96.9183 0 87.6501 0 76.7462C0 44.0345 18.8317 18.4527 56.4957 0L66.6493 18.1171Z' fill='%23FF5050'/></g><defs><clipPath id='clip0_15_698'><rect width='142' height='116' fill='white'/></clipPath></defs></svg>");
      position: absolute;
      top: -40%;
      right: -7%;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    h2 {
      color: $color-brown;
      text-align: right;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px; /* 125% */
      margin-bottom: 8px;
    }

    p {
      color: $color-text;
      font-family: $font-manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 200;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
    padding: 32px 32px;
    display: flex;
    position: relative;

    &::before {
      content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13' fill='none'><g clip-path='url(%23clip0_2083_576)'><path fill-rule='evenodd' clip-rule='evenodd' d='M15.9298 2.03037C13.5439 3.15836 12.351 4.48372 12.351 6.00651C13.3679 6.11931 14.2088 6.5188 14.8738 7.20499C15.5387 7.89118 15.8712 8.68546 15.8712 9.58785C15.8712 10.5466 15.5485 11.355 14.9031 12.013C14.2577 12.671 13.4461 13 12.4683 13C11.3731 13 10.4246 12.5723 9.62279 11.7169C8.82096 10.8615 8.42005 9.82285 8.42005 8.60087C8.42005 4.93491 10.5517 2.06798 14.8151 0L15.9298 2.03037ZM7.50978 2.03037C5.10429 3.15836 3.90156 4.48372 3.90156 6.00651C4.93808 6.11931 5.78878 6.5188 6.45372 7.20499C7.11865 7.89118 7.45111 8.68546 7.45111 9.58785C7.45111 10.5466 7.12354 11.355 6.46838 12.013C5.81323 12.671 4.99675 13 4.0189 13C2.92372 13 1.98012 12.5723 1.18807 11.7169C0.39602 10.8615 0 9.82285 0 8.60087C0 4.93491 2.12188 2.06798 6.36571 0L7.50978 2.03037Z' fill='%23FF5050'/></g><defs><clipPath id='clip0_2083_576'><rect width='16' height='13' fill='white'/></clipPath></defs></svg>");
      position: absolute;
      top: 5%;
      left: 1%;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    p {
      color: $color-text;
      font-family: $font-inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px; /* 155.556% */
    }

    strong {
      color: $color-brown;
      font-family: $font-manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 155.556% */
    }
  }
}
