@use "../../styles/variables" as *;

.mainMenu {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $color-brown;
    font-family: $font-manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent;
      transition: color 0.3s ease;
    }

    &.active {
      color: $color-accent;
    }
  }
}

.header--home .mainMenu__link {
  color: $color-white;
}
