//  Цвета
$color-title: #1e1e1e;
$color-text: #ababab;
$color-accent: #ff5050;
$color-white: #ffffff;
$color-brown: #1e1e1e;

//  Шрифты
$font-babes: "Bebas Neue", sans-serif;
$font-inter: "Inter", sans-serif;
$font-manrope: "Manrope", sans-serif;

// Брейкпоинты
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;

//  Размеры
$container-desktop: 1440px;
$container-tablet: 1024px;
$container-mobile: 768px;

//  Отступы
$offset-desktop: 64px;
$offset-tablet: 32px;
$offset-mobile: 16px;
