@use "../../styles/variables" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 130px;
  height: 40px;
  padding: 0px 40px;
  background: #ff5c5c;
  border: none;
  outline: none;
  color: $color-white;
  font-family: $font-babes;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0% 50%);
  transition: background 0.3s;

  &:hover {
    background: #e04a4a;
  }
}
